{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Password Change{% endblock %}

{% block content %}
<div class="container main-container">
    <h2>Password change</h2>
    <p class="lead">
        Please enter your old password for security purposes, and then enter
        your new password twice to ensure it is typed in correctly.
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" class="btn btn-primary" value="Change my password">
    </form>
</div>
{% endblock %}
