{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Forgot your password?{% endblock %}

{% block content %}
<div class="container main-container">
    <h2>Forgot your password?</h2>
    <p class="lead">
        Enter your email address below, and we'll email instructions for
        getting a new one.
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" class="btn btn-primary" value="Reset my password">
    </form>
</div>
{% endblock %}
