{% extends "base.html" %}
{% load humanize %}

{% block title %}{{object.year }} {{ object.make }} {{ object.model }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="container breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'cars' %}">My Cars</a></li>
        <li class="breadcrumb-item active">Car Detail</li>
    </ol>
</nav>

<div class="container main-container">
<h2>{{object.year }} {{ object.make }} {{ object.model }}</h2>

<p>VIN: {{ object.vin }}</p>
<p>Total Cost of Ownership: ${{ object.total_cost_ownership|floatformat:2 }}</p>
<p>Operating cost: ${{ object.operating_cost|floatformat:2 }}</p>
<p>Average MPG: {{ object.average_mpg|floatformat:2 }}</p>
<p>Cost per mile: ${{ object.cost_per_mile|floatformat:3 }}</p>
<p>
    <a title="Edit" class="btn btn-primary" href="{% url 'car-update' object.uuid %}">
        <span class="fas fa-edit" title="Edit" aria-hidden="true"></span>
        <span class="sr-only">Edit</span>
    </a>
    <a title="Delete" class="btn btn-danger" href="{% url 'car-delete' object.uuid %}">
        <span class="fas fa-trash" title="Delete" aria-hidden="true"></span>
        <span class="sr-only">Delete</span>
    </a>
</p>

<h3>Gas Purchases</h3>
{% if object.gaspurchase_set.all %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Odometer</th>
            <th scope="col">Date & Time</th>
            <th scope="col">Gallons</th>
            <th scope="col">Cost/Gallon</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Tank MPG</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for fill_up in object.gaspurchase_set.all|slice:":5" %}
        <tr>
            <td scope="row">{{ fill_up.odometer_reading }}</td>
            <td>{{ fill_up.datetime }}</td>
            <td>{{ fill_up.gallons|floatformat:3 }}</td>
            <td>${{ fill_up.cost_per_gallon|floatformat:2 }}</td>
            <td>${{ fill_up.total_cost|floatformat:2 }}</td>
            <td>{{ fill_up.tank_mpg|floatformat:3 }}</td>
            <td>
                <a title="Edit" class="btn btn-primary" href="{% url 'gas-purchase-update' fill_up.vehicle.uuid fill_up.uuid %}">
                    <span class="fas fa-edit" title="Edit" aria-hidden="true"></span>
                    <span class="sr-only">Edit</span>
                </a>
                <a title="Delete" class="btn btn-danger" href="{% url 'gas-purchase-delete' fill_up.vehicle.uuid fill_up.uuid %}">
                    <span class="fas fa-trash" title="Delete" aria-hidden="true"></span>
                    <span class="sr-only">Delete</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<p>
    <a class="btn btn-primary" href="{% url 'add-purchase' %}?uuid={{ object.uuid }}" role="button">Add Purchase</a>
    <a class="btn btn-secondary" href="{% url 'car-gas-purchases' object.uuid %}" role="button">All Purchases</a>
</p>

<h3>Maintenances</h3>
{% if object.maintenance_set.all %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Odometer</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for maint in object.maintenance_set.all|slice:":5" %}
        <tr>
            <td scope="row">{{ maint.odometer_reading }}</td>
            <td>{{ maint.datetime|date }}</td>
            <td>{{ maint.description }}</td>
            <td>${{ maint.cost|floatformat:2 }}</td>
            <td>
                <a title="Edit" class="btn btn-primary" href="{% url 'maintenance-update' maint.vehicle.uuid maint.uuid %}">
                    <span class="fas fa-edit" title="Edit" aria-hidden="true"></span>
                    <span class="sr-only">Edit</span>
                </a>
                <a title="Delete" class="btn btn-danger" href="{% url 'maintenance-delete' maint.vehicle.uuid maint.uuid %}">
                    <span class="fas fa-trash" title="Delete" aria-hidden="true"></span>
                    <span class="sr-only">Delete</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<p>
    <a class="btn btn-primary" href="{% url 'add-maintenance' %}?uuid={{ object.uuid }}" role="button">Add Maintenance</a>
    <a class="btn btn-secondary" href="{% url 'car-maintenances' object.uuid %}" role="button">All Maintenances</a>
</p>

<h3>Tolls</h3>

{% if object.toll_set.all %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Datetime</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for toll in object.toll_set.all|slice:":5" %}
        <tr>
            <td scope="row">{{ toll.datetime|date}}</td>
            <td> {{ toll.description }}</td>
            <td> {{ toll.cost }}</td>
            <td>
                <a title="Edit" class="btn btn-primary" href="{% url 'toll-update' toll.vehicle.uuid toll.uuid %}">
                    <span class="fas fa-edit" title="Edit" aria-hidden="true"></span>
                    <span class="sr-only">Edit</span>
                </a>
                <a title="Delete" class="btn btn-danger" href="{% url 'toll-delete' toll.vehicle.uuid toll.uuid %}">
                    <span class="fas fa-trash" title="Delete" aria-hidden="true"></span>
                    <span class="sr-only">Delete</span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<p>
    <a class="btn btn-primary" href="{% url 'add-toll' %}?uuid={{ object.uuid }}" role="button">Add Toll</a>
    <a class="btn btn-secondary" href="{% url 'car-tolls' object.uuid %}" role="button">All Tolls</a>
</p>
</div>
{% endblock %}
