{% extends "base.html" %}
{% load humanize %}

{% block title %}{{car.year }} {{ car.make }} {{ car.model }} Gas Purchases{% endblock %}

{% block content %}
<div class="container main-container">
<h2>{{car.year }} {{ car.make }} {{ car.model }} Gas Purchases</h2>
<p><a class="btn btn-primary" href="{% url 'add-purchase' %}" role="button">Add Purchase</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Odometer</th>
            <th scope="col">Date Time</th>
            <th scope="col">Gallons</th>
            <th scope="col">Cost/Gallon</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Average MPG</th>
        </tr>
    </thead>
    <tbody>
        {% for fill_up in object_list %}
        <tr>
            <td scope="row">{{ fill_up.odometer_reading }}</td>
            <td>{{ fill_up.datetime }}</td>
            <td>{{ fill_up.gallons|floatformat:3 }}</td>
            <td>${{ fill_up.cost_per_gallon|floatformat:2 }}</td>
            <td>${{ fill_up.total_cost|floatformat:2 }}</td>
            <td>{{ fill_up.average_mpg|floatformat:3 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<ul class="pagination">
    {# Previous page #}
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous<a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Previous</span>
    </li>
    {% endif %}

    {# All pages #}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active">
        <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
        </span>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {# Next Page #}
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Next</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}
